body {
  background-color: teal;
  }

h1 {
  color: white; 
  font-size: 63px;
  font-family: Tahoma, Helvetica, san-serif
  }

img{
  width: 100%;
}
  
 p, li { 
  color: white;
  font-family: Tahoma, Helvetica, san-serif;
  
}
  
.header{
      background-color: black;
  border: 10px solid black;
  padding-left: 10px
  
  

  
}

.footer{
  background-color: black;
  color: white;
  border; 1px solid black;
  padding-left: 10px
    
  
}

